.src-pages-Index-index-module__wrap-VqkzFA {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.src-pages-Index-index-module__wrap-VqkzFA .src-pages-Index-index-module__left-yoaSml {
  display: none;
}
.src-pages-Index-index-module__wrap-VqkzFA .src-pages-Index-index-module__canvas-tb_z9T {
  width: 100%;
  height: 100%;
}

