html,
body {
  font-family: PingFangSC-Regular, 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #4294EA;
  --color-primary: #4294EA;
  --font-size-base: 14px;
  --font-size-medium: 16px;
  --font-family-base: PingFang SC;
  --font-family-bold: PingFangSC-Medium, PingFang SC;
  --font-family-regular: PingFang SC;
  --ov-layout-background: #fff;
  --ov-components-background: #fff;
  --text-color: #333;
  --text-color-diff: #fff;
  --text-color-primary: #017EFA;
  --btn-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --common-bg: rgba(7, 25, 46, 0.98);
  --common-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
}
#root {
  height: 100%;
}
canvas {
  display: block;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body ul,
body ol {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

